*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    
}

body{
    background-color: #e6e6e6;
}


/* header start here */
.header{
    background-color: rgb(19, 25, 33);
    height: 60px;
    color: #fff;
}

.header-container{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-right: 10px ;
    gap: 10px;
    height: 100%;
    align-items: center;
    
}


.header-left{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.logo img{
    width: 100px;
    height: 30px;

}

.location{
    display: flex;
    align-items: flex-end;
}

.pin-logo{
  
    display: flex;
    align-items: flex-end;
    justify-content: end;
    font-size: 0.8rem;
}





.delivery-location{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    
}

.header-small{
    font-size: .8rem;
}

.header-big{
    font-weight: bold;
}

.search-bar{
    flex-grow: 1;
    align-self: center;

}

.search-bar form{
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-bar button{
    width: 60px;
    height: 40px;
    border: 1px solid #aaa;
}

.search-bar .selection{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0;
}

.search-bar .search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0; 
    background-color: #FF9900;
}

.search-input{
    width: 80%;
    font-size: inherit;
    height: 40px;
    padding-left: 5px;
    border-radius: 0;
    border: 1px solid #aaa;
    
}

.search-input:focus{
    outline: none;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.header-right a{
    text-decoration: none;
    color: #fff;

}

.change-language{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.signIn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

}


.accounts{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

}

.returns-orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}
.orders{
    white-space: nowrap;
}

.cart{
    display: flex;
    align-items: center;
}

/* Nav start here */

.nav{
    display:flex;
    justify-content: start;
    height: 40px;
    background-color: #232f3e;
    color: #fff;
    font-size: .9rem;
}

.nav-container{
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

.menu-btn{
    display: flex;
    align-items: center;
    padding: .2rem;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
}

.btn-name{
    padding-left: .2rem ;
}

.links ul{
    display: flex;

}
.links li{
    list-style-type: none;
    padding-left: 2rem;

}

.links li a{
    color: #fff;
    text-decoration: none;
    position:relative;
    width: 100%; 
    white-space: nowrap;
}


.links li a::after{
    position: absolute;
    left: 0rem;
    bottom: -0.5rem;
    content: "";
    border: .05rem solid transparent;
    width: 0px;
}

.links li a:hover::after{
    width:100%;
    transition: width 1s, border 1s;
    border: .05rem solid #fff;
    transition-timing-function: ease-in-out;
}

/* Responsive design */

@media only screen and (max-width: 810px) {

    .header, .nav{
        width: 810px;
        overflow: hidden;
    }
    
   
}

/* Main starts here */
.main{
    margin: 0rem 3rem;
}

.main-background{
    background-image: url("/Background.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    
}


.main-gradient{
    background-image: linear-gradient(to top,#e6e6e6, transparent);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;

}

.background-wrap{
    flex-grow: 1;
    padding: 0.5rem ;
    width: 100%;
}

.background-btn-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.background-btn{
    border: none;
    background: transparent;
    height: 14rem;
    width: 5rem;
    border-radius: 12px;

}

.background-btn:active{
    border: 2px solid aqua;
}

.main-item-container{
    display: grid;
    margin-right: 1rem;
    margin-left: 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-image: linear-gradient(to top,#e6e6e6, transparent);

}

.item-card{
    background: #fff;
    height: 420px;

}

.item-card img{
    width: 320px;
}

.item-container{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
}

.item-title{
    display: flex;
    width: 100%;

}
.item-container h2{
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    text-align: left;
}

.item-link{
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    color: aqua;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.item-link a, .footer-signIn-container a{
    text-decoration: none;
    color: #007185;
}

.item-link a:hover, .footer-signIn-container a:hover{
    color: #C7511F;
    text-decoration: underline;
}






/* Footer Starts here */

.footer{
    width: 100%;
    background-color: #fff;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-signIn{
   padding-bottom: 2rem;
}

.footer-signIn-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #aaa;
    margin-top: 3rem;
    
    padding-top: 2rem;
    padding-bottom: 1rem;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.footer-signIn-btn{
    background-color: #FF9900;
    border: 1px solid #aaa;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 15rem;
    border-radius: 4px;
    cursor: pointer;
    font-style: inherit;
    font-weight: bold;
}


.back-to-top{
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#37475A;
}

.back-to-top-btn{
    width: 100%;
    padding: 1.3rem;
    background-color: #37475A;
    border: none;
    color: #fff;
}

.back-to-top-btn:hover{
    background-color: #4b596b;
}


.footer-links{
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-links-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    color: #fff;
    gap:3rem;
}

.footer-column{

}

.footer-column-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.footer-column-title{
    font-weight: bold;

}

.footer-column-container ul{
    list-style: none;

}
.footer-column-container a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

.footer-column-container a:hover{
    text-decoration: underline;
}

.footer-column-container li{
    padding-bottom: 0.1rem;
}